body {
    background-color: #232323;
    color: #ffffff;
}
/* Como es que usando 'padding-bottom:30%;' en el CSS configurara la altura para los cuadrados?
    Cuando especificas la altura o ancho como un porcentaje, Ese porcentaje esta en relacion al Elemento Padre.
 */
.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}
/* poner todo en terminos de porcentaje hace que los cuadros sean responsivos */
/* arrriba/abajo: margen cero 
   laterales: centran automaticamente */
#container {
    margin: 0 auto;
    max-width: 600px;
}

